/* general */
html, textarea, input, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 2.85714rem;
    font-weight: 700;
    padding: 1rem;
    color: #33a532;
}

p {
    line-height: 1.25;
    text-align: justify;
}

/* header section */
header {
    width: 95%;
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 12px 12px 12px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    opacity: 97%;
    border-radius: 4px;
    border: solid #e9e9e9 1px;
    box-shadow: 5px 5px 5px #626262;
   }

.logo-section {
    display: inline-flex;
    align-items: center;
    padding: 2px;
}

.logo-section img  {
    height: 45px;
    padding-right: 2px;
}

.company-name {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
}

.company-name p {
    line-height: 1;
}

.name {
    text-transform: uppercase;
    font-size: 1.714286rem;
    font-weight: 700;
    padding: 4px 0px;
}

.tag-line {
    font-size: 0.85714rem;
}

nav {
    display: inline-flex;
    align-items: center;
}

nav ul li {
    float: left;
    position: relative;
    border-radius: 4px;
    width: 90px;
    text-align: center;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

nav ul li a {
    display: inline-flex;
    text-transform: uppercase;
    font-weight: 600;
    color: #33a532;
    padding: 8px;
}

nav ul li:hover {
    background-color: #e9e9e9;    
}

nav i {
    padding: 0px 4px 0px 4px;
}

nav ul li ul {
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: -10px;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 0px 0px 4px 4px;
    transition: all 500ms ease-in;
}

nav ul li:hover ul {
    height: 135px;
}

nav ul li ul li {
    width: 160px;
    border-radius: 4px;
    text-align: left;
}

nav ul li ul li a {
    font-weight: 400;
    color: #000000;
    text-transform: none;
    text-decoration: none;
    border-radius: 4px;
}

.language-section {
    position: relative;
    display: inline-block;
}

.language-section img {
    height: 15px;
    border-radius: 4px;
}

.language-section p {
    text-transform: uppercase;
    font-size: 0.8571rem;
    padding: 8px;
}

.language-section:hover .selectable-languages{
    height: 61px;
}

.selected-language {
    height: auto;
    padding: 5px;
}

.selected-language a {
    display: inline-flex;
    align-items: center;
    width: 80px;
    font-size: 0.8571rem;
    padding: 0px 5px;
    transition: all 500ms ease-in;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
}

.selected-language a:hover {
    background-color: #e9e9e9;
    border-radius: 4px;
}

.selectable-languages {
    position: absolute;
    height: 0px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 0px 5px 5px 5px;
    border-radius: 0px 0px 4px 4px;
    transition: all 500ms ease-in;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
}

.selectable-languages a {
    display: inline-flex;
    align-items: center;
    width: 80px;
    padding: 0px 5px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.selectable-languages a:hover {
    background-color: #e9e9e9;
    border-radius: 4px;
}


/* main section */

.landing-section {
    height: 250px;
    background-image: url("../media/Background_landing2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mid-section {
    height: 1400px;
    background-color: #ffffff;
}

.contact-us {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    min-height: 400px;
    padding: 2rem 0 6rem;
    background-image: url("../media/Contact.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-us h1 {
    text-align: center;
}

.form {
    min-width:35%;
    margin-right: 1%;
    background-color: #ffffff;
    border: solid 1px #e9e9e9;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #626262;
    opacity: 97%;
    display: inline-flex;
    flex-direction: column;
    padding: 35px;
}

.form-input {
    width: 100%;
    padding: 5px 10px;
    border: solid 1px #c1c1c1;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.08);
}

.form-input:focus {
    outline: none !important;
    border: solid 1px #33a532;
    box-shadow: 5px 5px 5px #c1c1c1;
}

.field-wrapper {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.field-placeholder, .field-placeholder-text {
    position: absolute;
    z-index: 1;
    color: #c1c1c1;
    text-align: left;
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
}

.field-placeholder {
    bottom: 8px;
    left: 6px;
}

.field-placeholder-text {
    bottom: 86px;
    left: 6px;
}

.field-wrapper span {
    padding: 0px 5px;
    background-color: #ffffff;
}

.field-wrapper input:not([disabled]):focus~.field-placeholder, .field-wrapper textarea:not([disabled]):focus~.field-placeholder-text {
    color:#33a532;
    background-color: #ffffff;
}
		
.field-wrapper input:not([disabled]):focus~.field-placeholder, .field-wrapper.hasValue input:not([disabled])~.field-placeholder {
    transform: scale(.75) translateY(-22px) translateX(-18px);
    -webkit-transform: scale(.75) translateY(-22px) translateX(-18px);
}
		
.field-wrapper textarea:not([disabled]):focus~.field-placeholder-text, .field-wrapper.hasValue textarea:not([disabled])~.field-placeholder-text {
    transform: scale(.75) translateY(-22px) translateX(-21px);
    -webkit-transform: scale(.75) translateY(-22px) translateX(-21px);
}

.form textarea {
    resize: vertical;
}

.g-recaptcha {
    width: 100%;
}

.form-status {
    color: red;
    margin-top: 10px;
    display: none;
}

.form button {
    margin-top: 10px;
    padding: 5px;
    border: solid 1px #c1c1c1;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.08);
}

.contact-text {
    max-width: 49%;
    margin-left: 1%;
    display: inline-flex;
    flex-direction: column;
    background-color: #ffffff;
    border: solid 1px #e9e9e9;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #626262;
    opacity: 97%;
    padding: 0 2rem 1rem 2rem;
}

.business-section {
    display: inline-flex;
    align-items: center;
    padding: 1rem 0 0 0;
}

.business-section .logo {
    display: inline-flex;
    align-items: center;
    width: 45px;
}

.business-section img {
    height: 35px;
}

.contact-text .icon {
    width: 45px;
}

.contact-text i {
    color: #626262;
}

.address-section {
    display: inline-flex;
    padding: 0.714286rem 0 0 0;
}

.e-mail {
    display: inline-flex;
    align-items: center;
    padding: 0.714286rem 0 0 0;
}


/* footer section */
footer {
    width: 95%;
    position: fixed;
    bottom: 25px;
    z-index: 10;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 24px;
    background-color: #ffffff;
    opacity: 97%;
    border-radius: 4px;
    border: solid #e9e9e9 1px;
    box-shadow: 5px 5px 5px #626262;
}

.footer-section {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8571rem;
}

.terms {
    display: inline-flex;
}

.terms a {
    margin: 0px 5px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.terms a:hover {
    background-color: #e9e9e9;
    border-radius: 4px;
}

.footer-section i {
    padding: 2px 8px;
    color: #ffffff;
    background-color: #33a532;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.footer-section i:hover {
    background-color: #626262;
}